/* Productos: Bang */
.home-bang{
    height: 120vh;
    padding: 40px;
    margin-bottom: 10%;
    overflow-y: hidden;
    position: relative;
}
.bang-titulo{
    display: flex;
    gap: 540px;
    margin-bottom: 0.5%;
    font-size: 22px;
    text-align: start !important;
}
.bang hr{
    border: 1px solid white;
}
.productos-bang{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    font-family: 'Geomanist';
}
.product-bang{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(95, 95, 95, 0.215);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 340px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-bang:hover{
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgb(169, 169, 169);
}
.product-bang img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10%;
    height: auto;
}
.product-bang p, .product-bang span{
    margin: 5px 0;
    font-size: 20px;
}
.agotado-bang{
    position: relative;
    width: 340px;
    z-index: 100;
}
/* Productos: Bang */
/* ------------------------------------------------- */
/* Productos: Razzbar */
.home-razzbar30{
    height: 160vh;
    padding: 40px;
    margin-bottom: 10%;
    overflow: hidden;
    position: relative;
}
.razzbar30-titulo{
    display: flex;
    gap: 520px;
    margin-bottom: 0.5%;
    font-size: 22px;
}
.razzbar30 hr{
    border: 1px solid white;
}
.productos-razzbar30{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    font-family: 'Geomanist';
}
.product-razzbar30{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(95, 95, 95, 0.215);
    min-height: 340px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 340px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-razzbar30:hover{
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgb(169, 169, 169);
}
.product-razzbar30 img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10%;
    height: auto;
}
.product-razzbar30 p, .product-razzbar30 span{
    margin: 5px 0;
    font-size: 20px;
}
.product-razzbar30 p, .product-razzbar30 span{
    margin: 5px 0;
}
/* Productos: Razzbar */
/* ------------------------------------------------- */
/* Productos: Razzbar 60k */
.home-razzbar60{
    height: 160vh;
    padding: 40px;
    margin-bottom: 10%;
    overflow: hidden;
    position: relative;
}
.razzbar60-titulo{
    display: flex;
    gap: 520px;
    margin-bottom: 0.5%;
    font-size: 22px;
}
.razzbar60 hr{
    border: 1px solid white;
}
.productos-razzbar60{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    font-family: 'Geomanist';
}
.product-razzbar60{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(95, 95, 95, 0.215);
    min-height: 340px;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 340px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-razzbar60:hover{
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgb(169, 169, 169);
}
.product-razzbar60 img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10%;
    height: auto;
}
.product-razzbar60 p, .product-razzbar60 span{
    font-size: 20px;
    margin: 5px 0;
}
/* Productos: Razzbar 60k */
/* Producto: Vopk */
.home-vopk{
    height: 70vh;
    padding: 40px;
    margin-bottom: 10%;
    overflow: hidden;
}
.vopk-titulo{
    display: flex;
    gap: 520px;
    margin-bottom: 0.5%;
    font-size: 22px;
    text-align: start !important;
}
.vopk hr{
    border: 1px solid white;
}
.productos-vopk{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 150px;
    padding: 10px;
    font-family: 'Geomanist';
}
.product-vopk{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(95, 95, 95, 0.215);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    padding: 15px;
    box-sizing: border-box;
    width: 340px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.product-vopk:hover{
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgb(169, 169, 169);
}
.product-vopk img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10%;
    height: auto;
}
.product-vopk p, .product-vopk span{
    margin: 5px 0;
    font-size: 20px;
}
/* Producto: Vopk */
/* Producto: Waspe */
.home-waspe{
    height: 180vh;
    padding: 40px;
    margin-bottom: 10%;
    position: relative;
}
.promos{
    animation: encoger 2s infinite;
}
.waspe-titulo{
    display: flex;
    gap: 520px;
    margin-bottom: 0.5%;
    font-size: 22px;
}
.waspe hr{
    border: 1px solid white;
}
.productos-waspe{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    padding: 10px;
    font-family: 'Geomanist';
}
.product-waspe{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgba(95, 95, 95, 0.215);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    width: 340px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.productos-waspe button:hover{
    transform: translateY(-10px);
    border-radius: 10px;
    box-shadow: 2px 4px 6px rgb(169, 169, 169);
}
.product-waspe img{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10%;
    height: auto;
}
.product-waspe p, .product-waspe span{
    margin: 5px 0;
    font-size: 20px;
}
/* Producto: Waspe */
.producto-agotado {
    opacity: 0.6;
    cursor: not-allowed;
    position: relative;
}
.badge-agotado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 0, 0, 0.9);
    color: white;
    padding: 15px 50px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 5px;
    z-index: 10;
    pointer-events: none;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.producto-agotado img {
    filter: grayscale(50%);
}