@media (max-width: 1600px){
    .home-bang{
        height: 210vh;
    }
    .bang-titulo{
        gap: 410px;
        font-size: 18px;
    }
    .product-bang{
        width: 330px;
    }
    .home-razzbar30{
        height: 270vh;
    }
    .razzbar30-titulo{
        gap: 400px;
        font-size: 18px;
    }
    .product-razzbar30{
        width: 330px;
    }
    .home-razzbar60{
        height: 270vh;
    }
    .razzbar60-titulo{
        gap: 400px;
        font-size: 18px;
    }
    .vopk-titulo{
        gap: 410px;
        font-size: 18px;
    }
    .product-razzbar60{
        width: 330px;
    }
    .home-vopk{
        height: 90vh;
    }
    .productos-vopk{
        grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
        gap: 30px;
    }
    .product-vopk{
        width: 320px;
    }
    .home-waspe{
        height: 220vh;
    }
    .waspe-titulo{
        gap: 400px;
        font-size: 18px;
    }

}
@media (max-width: 480px) {

    /* ---------- RAÍZ ---------- */
    body, html {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .promos {
        font-size: 15px;
        text-align: center;
    }
    /* ---------- NAVEGACIÓN ---------- */
    header nav ul {
        display: none; 
    }

    .video-fondo {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .logo-nav {
        font-family: 'Phage';
        display: block;
        font-size: 32px;
    }

    .deslizar img {
        width: 35px;
        height: 35px;
        filter: invert(100%);
        animation: abajo-anim 1.6s infinite;
    }

    /* ---------- PRESENTACIÓN ---------- */
    .home-presentacion {
        margin-top: -40%;
        height: 120vh;
        padding: 20px;
        text-align: center;
    }
    .home-presentacion span {
        margin-bottom: 30%;
        font-size: 30px;
    }
    .home-presentacion-h1 {
        top: 34%;
        text-align: center;
        font-size: 40px;
    }
    .deslizar{
        height: 100px;
        overflow: hidden;
        display: flex;
        gap: 5px;
    }
    .deslizar h2{
        font-size: 28px;
    }
    /* ---------- SECCIONES DE MARCAS ---------- */
    .home-bang, .home-razzbar30, .home-razzbar60, .home-waspe, .home-vopk {
        height: 200%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(1fr));
        gap: 15px;
        justify-items: center;
        width: 100%;
        max-width: 100%;
        padding: 0 10px;
        box-sizing: border-box;
        overflow-y: hidden;
    }

    .home-waspe, .home-razzbar30, .home-razzbar60 {
        position: relative;
    }

    /* ---------- PRODUCTOS ---------- */
    .productos-bang, .productos-razzbar30, .productos-razzbar60, .productos-waspe, .productos-vopk{
        justify-items: center;
    }
    .product-bang, .product-razzbar30, .product-razzbar60, .product-waspe, .product-vopk{
        width: 280px;
    }
    .productos-vopk{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }
    .bang-titulo, .razzbar30-titulo, .razzbar60-titulo, .waspe-titulo, .vopk-titulo {
        gap: 1px;
        text-align: center;
    }
    /* ventana */
    .cerrar-ventana{
        padding: 5px 30px !important;
        left: 80% !important;
    }
    .ventana-fondo{
        width: 95% !important;
        height: 600px !important;
        padding: 10px !important;
    }
    .descripcion-bang, .descripcion-razzbar30, .descripcion-razzbar60, .descripcion-vopk, .descripcion-waspe{
        display: flex;
        flex-direction: column;
        gap: 30px !important;
        text-align: center;
    }
    .bang-img img, .razzbar30-img img, .razzbar60-img img, .vopk-img img, .waspe-img img{
        width: 250px !important;
        border-radius: 5px;
    }
    .desc-bang, .desc-razzbar30, .desc-razzbar60, .desc-vopk, .desc-waspe{
        font-size: 15px !important;
        display: flex;
        flex-direction: column;
        gap: 30px !important;
    }
    .desc-bang, .desc-razzbar30, .desc-razzbar60, .desc-vopk, .desc-waspe{
        font-size: 20px !important;
    }
    .desc-bang p, .desc-razzbar30 p, .desc-razzbar60 p, .desc-vopk p, .desc-waspe p{
        font-size: 12px !important;
    }
    .desc-bang h2, .desc-razzbar30 h2, .desc-razzbar60 h2{
        font-size: 25px !important;
    }
    .desc-vopk h2, .desc-waspe h2{
        font-size: 19px !important  ;
    }
    .elegir-contacto{
        padding: 5px 30px !important; 
    }
    .agotado {
        position: absolute;
        top: 1.8%;
        left: 0;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 700px;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 10000;
    }
    .agotado p {
        font-size: 30px;
        z-index: 10001;
    }
    .esencial{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .titulo-footer{
        text-align: center;
    }
    .titulo-footer h1{
        font-size: 35px;
    }
    .problema{
        width: 130% !important;
        height: 100px;
    }
    .problema-titulo h2{
        font-size: 16px;
    }
    .problema-titulo p{
        font-size: 12px;
    }
    .problema-correo a{
        font-size: 15px;
        text-align: center;
    }
}

@media (min-width: 431px) and (max-width: 1024px) {
     /* ---------- RAÍZ ---------- */
    body, html {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .promos {
        font-size: 15px;
        text-align: center;
    }

    /* ---------- NAVEGACIÓN ---------- */
    header nav ul {
        display: none; /* Oculta menú principal en móvil */
    }

    .video-fondo {
        position: fixed;
        width: 100%;
        height: 100%;
    }

    .logo-nav {
        font-family: 'Phage';
        display: block; /* Muestra el logo en móvil */
    }

    .deslizar img {
        width: 35px;
        height: 35px;
        filter: invert(100%);
        animation: abajo-anim 1.6s infinite;
    }

    /* ---------- PRESENTACIÓN ---------- */
    .home-presentacion {
        margin-top: -40%;
        height: 120vh;
        padding: 20px;
        text-align: center;
    }

    .home-presentacion span {
        margin-bottom: 30%;
    }

    .home-presentacion-h1 {
        top: 34%;
        text-align: center;
    }

    /* ---------- SECCIONES DE MARCAS ---------- */
    .home-bang, .home-razzbar, .home-waspe {
        height: 135vh;
        gap: 15px;
        justify-items: center;
        box-sizing: border-box;
        overflow-y: hidden;
    }
    .home-vopk{
        height: 80vh;
    }
    .home-razzbar{
        height: 170vh;
    }
    .home-waspe, .home-razzbar {
        position: relative;
    }

    /* ---------- PRODUCTOS ---------- */
    .productos-bang, .productos-razzbar, .productos-waspe, .productos-vopk {
        justify-items: center;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .bang-titulo, .razzbar-titulo, .waspe-titulo, .vopk-titulo {
        gap: 1px;
        text-align: center;
    }

    .ventana .cerrar-ventana, .ventana-1 .cerrar-ventana, .ventana-2 .cerrar-ventana, .ventana-3 .cerrar-ventana{
        padding: 10px 20px !important;
        left: 85%;
    }
    .ventana, .ventana-1, .ventana-2, .ventana-3 * {
        padding: 0 !important;
        margin: 0 !important;
        box-sizing: border-box !important;
    }
    .ventana-fondo * {
        display: flex !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
        gap: 0;
        text-align: center;
    }
    .bang-img img, .razzbar-img img, .vopk-img img, .waspe-img img{
        z-index: 1;
        width: 200px !important;
        border-radius: 5px;
    }
    .descripcion-bang, .descripcion-razzbar30, .descripcion-razzbar60, .descripcion-vopk, .descripcion-waspe{
        padding: 1px !important;
        z-index: 1;
        display: flex!important;
        flex-direction: column!important;
        justify-content: center!important;
        align-items: center!important;
        width: 100% !important;
        gap: 10px !important;
    }
    .desc-bang, .desc-razzbar, .desc-vopk, .desc-waspe{
        font-size: 15px;
        display: flex;
        flex-direction: column;
        gap: 30px !important;
    }
    .elegir-contacto{
        padding: 10px 30px !important; 
        background-color: white !important;
    }
    .esencial{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }
    .problema{
        width: 100%;
    }
}